{% extends 'kb_admin/base.html' %}
{% load custom_tags %}

{% block admin-title%}Dashboard{% endblock %}

{% block admin-header %}
    <h1 class="fs-3 fw-lighter mb-0">Admin Dashboard</h1>
{% endblock %}

{% block admin-content %}
    <div class="row m-3">
        <div class="col-12 col-lg-4 position-relative row">
            <h2 class="fs-4">Articles</h2>
            <p class="fs-2 mb-0">{{ total_articles }}</p>
            <a class="text-decoration-none" href="{% url 'dashboard' %}">View all articles</a>
        </div>
        <div class="col-12 col-lg-4 position-relative row">
            <h2 class="fs-4">Users</h2>
            <p class="fs-2 mb-0">{{ total_users }}</p>
            <a class="text-decoration-none" href="{% url 'all-users' %}">View all users</a>
        </div>
        <div class="col-12 col-lg-4 position-relative row">
            <h2 class="fs-4">Groups</h2>
            <p class="fs-2 mb-0">{{ total_groups }}</p>
            <a class="text-decoration-none" href="{% url 'all-groups' %}">View all groups</a>
        </div>
    </div>
{% endblock %}
