{% extends 'kb_admin/base.html' %}
{% load custom_tags %}

{% block admin-title %}{{ group.name|title }}{% endblock %}

{% block admin-header %}
    <h1 class="fs-3 text-white fw-lighter mb-0">Group details</h1>

    <div class="d-flex align-items-center">
        {% if not protected_group %}
        <a href="{% url 'group-edit' group.pk %}" class="text-decoration-none text-white text-center p-2" data-bs-toggle="tooltip" title="Edit">
            {% include 'includes/edit.svg' with height="28" width="28" color="white"%}
        </a>
        <form method="POST" action="{% url 'group-delete' group.pk %}" id="delete-form">
            {% csrf_token %}
            <button type="button" class="btn btn-link text-white me-2" title="Delete" data-bs-toggle="modal" data-bs-target="#confirm-delete">
                {% include 'includes/trash.svg' with height="28" width="28" color="white"%}
            </button>
            <span class="text-black">
                {% include 'includes/confirm-modal.html' with modal_id="confirm-delete" dismiss="Cancel" confirm="Delete" form_id="delete-form" action="delete" item="group" %}
            </span>
        </form>
        {% endif %}
        <a href="{% url 'all-groups' %}" class="btn btn-purple">All Groups</a>
    </div>
{% endblock %}

{% block admin-content %}
    <div class="p-3">
        <table class="fs-5">
            <tr>
                <th class="pe-3">Group name:</th>
                <td>{{ group.name|title }}</td>
            </tr>
            <tr>
                <th class="pe-3 align-top">Members:</th>
                <td>
                    {% for user in group.users.all %}
                    <a class="text-decoration-none" href="{% url 'user-detail' pk=user.id %}">
                        {{ user.full_name }}{% if not forloop.last %}<br> {% endif %}
                    </a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
