<header>
    <div id="header-content">
        <div id="header-left">
            <a href="{% url 'dashboard' %}">Knowledge Base</a>
        </div>
        <div id="header-search">
            {% if user.is_authenticated  %}
                <div id="searchbar">
                    <form action="{% url 'dashboard' %}">
                        <label for="search">Search</label>
                        <input type="text" name="search" id="search" placeholder="Search..." value="{% if search %}{{ search }}{% endif %}"/>
                        {% include 'includes/search.svg' with height="20" width="20" %}
                    </form>
                </div>
            </div>
            <div id="header-right">
                <a href="{% url 'new-article' %}">{% include 'includes/plus-square.svg' with height="24" width="24" %}</a>
                {% include 'includes/person-square.svg' with height="24" width="24" %}
                <form method="POST" action="{% url 'sign-out' %}">
                    {% csrf_token %}
                    <button id="sign-out-btn" type="submit">Sign out</button>
                </form>
            </div>
        {% endif %}
    </div>
{# TODO Add my articles to header#}
</header>