{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center p-3 bg-teal w-100">
        <h1 class="fs-3 text-white fw-lighter mb-0">
            Change Password
        </h1>
    </div>
    <div class="p-3">
        <form method="POST" id="account-form">
            {% csrf_token %}
            <table class="fs-5">
            {% for field in form %}
                <tr class="g-2">
                    <th class="pe-5">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    </th>
                    <td>
                        {{ field|add_class:"form-control w-100" }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </form>
        <div class="d-flex align-items-center my-3">
            <button type="button" onclick="window.location={% url 'my-account' %}" class="btn btn-secondary me-2">Back</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-save">Save</button>
            {% include 'includes/confirm-modal.html' with modal_id="confirm-save" action="edit" dismiss="Cancel" confirm="Save" form_id="account-form"%}
        </div>
    </div>
{% endblock %}