{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center p-3 bg-teal">
        <h1 class="fs-3 m-0 text-white fw-light">{{ article.title }}</h1>
        {% if can_edit %}
            <div class="d-flex align-items-center">
                <a href="{% url 'edit-article' article.slug %}" class="text-decoration-none text-white text-center p-2" data-bs-toggle="tooltip" title="Edit">
                    {% include 'includes/edit.svg' with height="28" width="28" color="white"%}
                </a>
                <form method="POST" action="{% url 'delete-article' article.slug%}" id="delete-form">
                    {% csrf_token %}
                    <button type="button" class="btn btn-link text-white me-2" title="Delete" data-bs-toggle="modal" data-bs-target="#confirm-delete">
                        {% include 'includes/trash.svg' with height="28" width="28" color="white"%}
                    </button>
                    {% include 'includes/confirm-modal.html' with modal_id="confirm-delete" dismiss="Cancel" confirm="Delete" form_id="delete-form" action="delete" item="article" %}
                </form>
            </div>
        {% endif %}
    </div>
    <div class="p-3">
        {{ article.content|linebreaks }}
    </div>
    <p>Tags:
        {% for tag in article.tags.all %}
            {{ tag }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <div class="d-flex justify-content-end">
        <p class="small-text">Last updated {{ article.modified_date }} by {{ article.modified_by.full_name }}</p>
    </div>

{% endblock %}