{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if search %}
        <h2>Search results</h2>
    {% else %}
        <h2>All articles</h2>
    {% endif %}
    <div class="article-list">
        <ul>
            <li>
                <h3>Title</h3>
                <h3>Category</h3>
                <h3>Author</h3>
                <h3>Last updated</h3>
            </li>
            {% for article in articles %}
                <li>
                    <a href="{% url "article" article.slug %}"><p>{{ article.title }}</p></a>
                    <p>{{ article.modified_by.category }}</p>
                    <p>{{ article.modified_by.full_name }}</p>
                    <p>{{ article.modified_date }}</p>
                </li>
            {% empty %}
                {% if search %}
                    <li>No results match your search.</li>
                {% else %}
                    <li>No articles yet.</li>]
                {% endif %}
            {% endfor %}
        </ul>
        {% for article in articles %}

        {% endfor %}
    </div>
{% endblock %}