{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if search %}
        <h2>Search results</h2>
    {% else %}
        <h2>All articles</h2>
    {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Author</th>
                <th scope="col">Last Updated</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr onclick="window.location.href='{% url 'article' article.slug %}'" class="cursor-pointer">
                    <td>{{ article.title }}</td>
                    <td>{{ article.modified_by.category }}</td>
                    <td>{{ article.modified_by.full_name }}</td>
                    <td>{{ article.modified_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        {% if search %}
                            No results found.
                        {% else %}
                            No articles yet.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}