{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center p-3 bg-purple w-100">
        <h1 class="fs-3 text-white fw-lighter mb-0">
            {% if search %}
                Search results
            {% else %}
                All articles
            {% endif %}
        </h1>
    </div>

        <table class="table table-hover">
            <thead class="bg-purple">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Last Updated</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr onclick="window.location.href='{% url 'article' article.slug %}'" class="cursor-pointer">
                    <td>{{ article.title }}</td>
                    <td>{{ article.modified_by.full_name }}</td>
                    <td>{{ article.modified_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        {% if search %}
                            No results found.
                        {% else %}
                            No articles yet.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}