{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
        <p>Created on {{ article.created_date }} by {{ article.created_by.full_name }}</p>
        <p>Last modified on {{ article.modified_date }} by {{ article.modified_by.first_name }}</p>
        <button type="submit">Save</button>
        <button type="button" onclick="window.history.back()">Cancel</button>
    </form>

{% endblock %}