{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
</head>
<body class="d-flex flex-column vh-100">
{% include 'includes/header.html' %}
<div id="main-content" class="container pt-4 h-100">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
</body>
</html>