* {
    font-family: Open Sans, Arial, sans-serif;
}

.bg-teal {
    background-color: #0c626b;
}

.bg-red {
    background-color: #e30613;
}

.bg-yellow {
    background-color: #fdc300;
}

.btn-primary {
    color: #ffffff;
    background-color: #0c626b;
    border-color: #0c626b;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #39798f;
    border-color: #39798f;
}

.btn-purple {
    color: #ffffff;
    background-color: #5d586f;
    border-color: #5d586f;
}

.btn-purple:hover {
    color: #ffffff;
    background-color: #4c475b;
    border-color: #4c475b;
}

.btn-yellow {
    color: white;
    background-color: #fdc300;
}

.btn-yellow:hover {
    color: #000000;
    background-color: #d4a200;
}

.cursor-pointer {
    cursor: pointer;
}

.small-text {
    font-size: 0.75rem;
}

.bg-purple {
    background-color: #5d586f;
}

.bg-darkpurple {
    background-color: #241d33;
}

.bg-header {
    background: #241d33 url(https://www.uwe.ac.uk/assets/img/headers/no-image-bg.png) repeat-y right top;
}

.border-grey {
    border: 1px solid #aaa;
}

.border-black {
    border: 1px solid black;
}

.border-white {
    border: 1px solid white;
}


.mw-100px {
    max-width: 100px;
}

.mw-125px {
    max-width: 125px;
}

.mw-150 {
    max-width: 150px;
}

.mw-200 {
    max-width: 200px;
}

.mw-400 {
    max-width: 400px;
}

.mw-600 {
    max-width: 600px;
}


.btn-yb {
    color: black;
    border: 1px solid #fdc300;
    border-radius: 2px;
    background-color: #fdc300;
}

.btn-yb:hover {
    color: #fdc300;
    border: 1px solid #fdc300;
    border-radius: 2px;
    background-color: black;
}

.border-grey {
    border: 1px solid #aaa;
}

#search[type="text"],
#search[type="text"]:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.select2-selection,
.select2-selection__placeholder,
.select2-selection__rendered,
.select2-results__option
{
    padding: 0 0 0 5px;  /* Adjust padding to center text vertically */
    font-size: 1rem;  /* Shrink the font size for both input and placeholder */
}

.select2-results__option {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu-dark,
.dropdown-item,
.dropdown-item:hover,
.dropdown-item:focus {
    color: white;
}

.dropdown-divider {
    border-color: #5d586f;
}