* {
    font-family: Open Sans, Arial, sans-serif;
}

.bg-teal {
    background-color: #0c626b;
}

.cursor-pointer {
    cursor: pointer;
}

.small-text {
    font-size: 0.75rem;
}

.bg-purple {
    background-color: #5d586f;
}

.btn-purple {
    color: #5d586f;
    border: 1px solid #fdc300;
    border-radius: 2px;
    background-color: #fdc300;
}

.btn-purple:hover {
    color: #fdc300;
    border: 1px solid #fdc300;
    border-radius: 2px;
    background-color: #5d586f;
}

#search[type="text"],
#search[type="text"]:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

#input_title {
    background-color: inherit;
    width: 100%;
    border: 1px solid white;
    box-sizing: border-box;
    font-weight: inherit;
    color: inherit;
}

#input_content {
    width: 100%;
    height: 100%;
}

#input_tags {
    width: 50%;
}