<header class="sticky-top w-100 bg-header">
    <div id="header-content" class="container d-flex justify-content-between align-items-center py-3">
        <div class="text-white">
            <span class="fs-5 me-3">Knowledge Base</span>
        </div>
        {% if user.is_authenticated  %}
        <div class="d-flex flex-grow-1 justify-content-center">
            <form action="{% url 'dashboard' %}" class="w-75">
                <div class="input-group">
                    <span class="input-group-text rounded-start-5 bg-white border-0 text-muted">
                        {% include 'includes/search.svg' with height="18" width="18" %}
                    </span>
                    <label for="search" class="d-none">Search</label>
                    <input type="text" name="search" id="search" class="form-control rounded-end-5" placeholder="Search..." value="{% if search %}{{ search }}{% endif %}"/>
                </div>
            </form>
        </div>

        <div class="d-flex">
            <a href="{% url 'dashboard' %}" class="text-decoration-none text-white me-3 text-center" data-bs-toggle="tooltip" title="Dashboard">
                {% include 'includes/dashboard.svg' with height="32" width="32" %}
            </a>
            {% if request.user.is_admin %}
                <a href="{% url 'admin-dashboard' %}" class="text-decoration-none text-white me-3 text-center" data-bs-toggle="tooltip" title="Admin">
                    {% include 'includes/settings.svg' with height="32" width="32" %}
                </a>
            {% endif %}
            <div class="dropdown">
                <a href="#" class="text-decoration-none dropdown-toggle text-white text-center" data-bs-toggle="dropdown" aria-expanded="false" data-bs-toggle="tooltip" title="Account">
                    {% include 'includes/person-round.svg' with height="32" width="32" %}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark bg-darkpurple">
                    <li><a class="dropdown-item" href="#">My articles</a></li>
                    <li><a class="dropdown-item" href="{% url 'my-account' %}">My account</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="POST" action="{% url 'sign-out' %}">
                            {% csrf_token %}
                            <button id="sign-out-btn" class="btn dropdown-item" type="submit">Sign out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</header>