{% extends 'kb_admin/base.html' %}
{% load custom_tags %}

{% block admin-title %}{{ group.name|title }}{% endblock %}

{% block admin-header %}
    <h1 class="fs-3 text-white fw-lighter mb-0">Group details</h1>
    <a href="{% url 'all-groups' %}" class="btn btn-purple">All Groups</a>
{% endblock %}

{% block admin-content %}
    <div class="row m-3">
        <div class="col-12 col-lg-9">
            <table class="fs-5">
                <tr>
                    <th class="pe-3">Group name:</th>
                    <td>{{ group.name|title }}</td>
                </tr>
                <tr>
                    <th class="pe-3 align-top">Members:</th>
                    <td>
                        {% for user in group.users.all %}
                            <a class="text-decoration-none" href="{% url 'user-detail' pk=user.id %}">
                                {{ user.full_name }}{% if not forloop.last %}<br> {% endif %}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        {% if not protected_group %}
        <div class="col-12 col-lg-3">
            <div class="mt-4 d-flex flex-lg-column">
                <a class="btn btn-primary me-lg-0 mb-lg-2 me-2 mw-200" href="{% url 'group-edit' pk=group.id %}">Edit</a>
                <form method="POST" action="{% url 'group-delete' pk=group.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-danger w-100 mw-200">Delete</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
